body {
    background-color: rgb(100, 151, 168);
   }
   h1 {
    color: white;
    text-align: center;
   }
   p {
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px
   }

   #acentuacionRoja {
   color: red;
}
.resaltado-verde {
    color: green;
    font-size: 50px
 }

*{
    text-align: center;
}

 p.tono-azul {
    color: blue;
    font-size: 50px
 }

 .texto-grande {
    font-size: 50px
}
.texto-centro {
    text-align: center;
}